*{
    margin:0px;
    padding:0px;
}
body{
    background-color: gainsboro;
}

.nav-class{
    position: relative;
    top:1px;
    max-height: 200px;
    height: 95%;
    margin:auto;
    width:100%;
    font-style:normal;
    text-align: center;
    background-color:rgb(202, 5, 5);
    color:white;
    border:none;

}

.nav-class h2:hover{
    color:rgb(197, 193, 180);
}


.offer{
    position: relative;
    top:10px;
    max-height: 40px;
    height: 90%;
    width:100%;
    color:rgba(247, 12, 12, 0.9);
    margin:auto;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
}

.offer p{
    font-size: 1.5rem;
    color:black;
}

.offer h3:hover{
    color:sienna;
}

.div-class{
    position: relative;
    top:50px;
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap:10px;
}

.div1{
    max-width:100%;
    width:180px;
    height: auto;
}
.div1 img{
    flex: 1 1 120px;
    max-width: 140px;
    text-align: center;
    transition: 0.5s ease;
}

.div1 img:hover{
    transform: scale(1.03);
}


@media (max-width: 768px) {

    .nav-class {
        font-size: 14px;
        padding: 10px;
        font-size: 1.6rem;
        padding: 1.45rem;
    }

    .div1 {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .div2{
        flex:1 1 100%;
        max-width: 100%;
    }
    
.div2-class{
    position: relative;
    width: 100%;
    height:auto;
    top:500px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border:20px solid black;
}

.div2{
    max-width: 100%;
    width:160px;
    border:10px solid black;
}

.offer2{
    width: 100%;
    height: auto;
    position: relative;
    top:20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


    .footer-class h2 {
        font-size: 14px;
        font-size: 1.6rem;
    }
}

/* .foter-class{
    position: absolute;
    bottom:20px;
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
} */