*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    filter:blur(.45px)
}

.nav-class{
    position: relative;
    top:1px;
    max-height: 200px;
    height: 95%;
    margin:auto;
    width:100%;
    font-style:normal;
    text-align: center;
    background-color:rgb(202, 5, 5);
    color:white;
    border:none;

}

.product{
    width:100%;
    height:auto;
    position: relative;
    top:0px;
    background-color: aquamarine;
    color:blanchedalmond;
    text-align: center;
}

.product a{
    text-decoration: none;
}

.nav-class h2:hover{
    color:rgb(197, 193, 180);
}


#offer{
    position: relative;
    top:10px;
    max-height: 40px;
    height: 90%;
    width:100%;
    color:rgba(247, 12, 12, 0.9);
    margin:auto;
    font-size: 2rem;
    font-style: normal;
    text-align: center;
}

#offer h3{
    background-color: coral;
}
#offer p{
    font-size: 1.5rem;
    color:black;
    background-color: #25D366;
}

#offer h3:hover{
    color:sienna;
    
}

.div-class{
    position: relative;
    top:50px;
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap:10px;
   
}

.div1{
    max-width:100%;
    width:180px;
    height: auto;
}
.div1 img{
    flex: 1 1 120px;
    max-width: 140px;
    text-align: center;
    transition: 0.5s ease;
    filter: brightness(1.15);
}

.div1 img:hover{
    transform: scale(1.03);
}

#offer2{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    background-color: #25D366;
    margin-top: 4rem;
    display: flex;
    justify-content: center;

}
.div2-class{
    margin-top: 50px;
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap:20px;
    
}

.div2 img{
    flex: 1 1 150px;
    max-width:100%;
    width:180px;
    text-align: center;
    transition: 0.5s ease;
}

.div2 img:hover{
    transform: scale(1.05);
}

.div2 h2{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media (max-width: 666px) {

    .nav-class {
        font-size: 14px;
        padding: 10px;
        font-size: 1.6rem;
        padding: 1.45rem;
    }

    .div1,.div2{
        flex: 1 1 100%;
        max-width: 100%;
    }
    #footer-class{
        flex: 1 1 100%;
        max-width: 100%;
    }


    #footer-class h2 {
        font-size: 14px;
        font-size: 1.6rem;
    }
}

.foter-class{
    width:100%;
    height:auto;
    text-align: center;
    padding:15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

#footer-class img{
    flex:1 1 180px;
    width: 200px;
    height: auto;
    transition: 1s ease;
    flex-wrap: wrap;

}


#footer-class img:hover{
    transform: scale(1.90);
}
#footer-class h3{
    color:deeppink;
    font-size: 1.3rem;
    
}

#footer-class a{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.whatsapp{

position:fixed;
bottom:2px;
right:6px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:50px;
text-decoration:none;
}